body {
  font-family: monospace;
  font-size: 125%;
  background-color: white;
  color: #111;
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  min-height: 200px;
  padding: 1em;
  /*margin: 5% 10%;*/
  border: thin solid gray;
  border-radius: 5px;
  margin: 0 auto;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
}

nav {
    text-align: center;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
    white-space: pre-wrap;
}

blockquote {
    border-left: 4px solid #e0e4e8;
    padding: 0.5em 0 0.5em 1em;
    margin-left: 0;
    background-color: #f8f9fa;
}