#page-content a {
  text-decoration: none;
  color: #2656c4;
  opacity: 1;
  transition: opacity .15s ease-in;
}

#page-content a:hover {
  opacity: 0.5;
  transition: opacity .15s ease-in;
}